---
layout: default
title: Game Pojects
permalink: /gamedev/
navigation_weight: 2
---

<div>
    <h1>{{page.title}}</h1>
    <ul id="game-list">

    </ul>
</div>

<script>
    //-------------Liquid scripting start-------------//
    {% capture pages %}
    [
        {% for p in site.pages %}
        {
        "title"    : "{{ p.title }}",
        "url"      : "{{ p.url }}",
        "layout"   : "{{ p.layout }}",
        } {% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
    ]
    {% endcapture %}
    //-------------Liquid scripting end-------------//
    
    var xGamedev = new Object();
    xGamedev.pages = {{pages | strip_newlines}};
    
    $(document).ready(function() {
        xGamedev.onStart();
    });
    
    xGamedev.onStart = function() {
        console.log(xGamedev.pages);
        
        for(var i = 0; i < xGamedev.pages.length; i++) {
            if(xGamedev.pages[i].layout === "game_page") {
                var game_element =  "<a href=\"" + xGamedev.pages[i].url + "\">" + 
                                        "<li>" + xGamedev.pages[i].title + "</li>" +
                                    "</a>";

                $("#game-list").append(game_element);
            }
        }
    };
</script>