<div class="blog-system" style="display: grid;">
  <div id="longBoxClone" class="long-box" style="display: none">
      <div class="long-box-content">
          <div class="blog-title">
          </div>
          <div class="blog-header">
          </div>
          <hr>
          <div class="blog-excerpt">
          </div>
          <a><button>More</button></a>
      </div>
    </div>
</div>

<script>
  //-------------Liquid scripting start-------------//
  {% capture postList %}
  [
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {% for p in site.posts %}
      {
      "title"    : "{{ p.title }}",
      "url"      : "{{ p.url | relative_url }}",
      "image"      : "{{ p.image }}",
      "excerpt"  : "{{ p.excerpt }}",
      "categories"  : "{{ p.categories }}",
      "author"  : "{{ p.author }}",
      "date"  : "{{ p.date | date: date_format }}",
      } {% if forloop.last %}{% else %},{% endif %}
      {% endfor %}
  ]
  {% endcapture %}
  {% capture category %}
      "{{ include.category }}"
  {% endcapture %}
  //-------------Liquid scripting end-------------//
  
  var xBlog_LongBox = new Object();
  xBlog_LongBox.postList = {{postList | strip_newlines}};
  xBlog_LongBox.category = {{category}};
  xBlog_LongBox.activePostList = [];
  xBlog_LongBox.arrViewCount = [];
  
  $(document).ready(function () {
      
      for(var i = 0; i < xBlog_LongBox.postList.length; i++)
      {
          if(xBlog_LongBox.postList[i].categories.includes(xBlog_LongBox.category)) {
              var longBoxClone = $("#longBoxClone").clone();
              longBoxClone.attr("id", "gridBox" + i);
              longBoxClone.css("display", "");
              longBoxClone.css("background-image", "url(" + xBlog_LongBox.postList[i].image + ")");
              longBoxClone.find(".blog-header").html(xBlog_LongBox.postList[i].author + ", " + xBlog_LongBox.postList[i].date);
              longBoxClone.find(".blog-title").html(xBlog_LongBox.postList[i].title);
              longBoxClone.find(".blog-excerpt").html(xBlog_LongBox.postList[i].excerpt);
              longBoxClone.find("a").attr("href", xBlog_LongBox.postList[i].url);

              xBlog_LongBox.activePostList.push(longBoxClone);
              
              $(".blog-system").append(longBoxClone);
          }
      }
  });
  
  
</script>
