<div class="blog-system">
    <a id="gridBoxClone" class="grid-box" style="display: none">
        <div class="grid-box-overlay">
            <div class="grid-box-content">
                <div class="blog-header">
                </div>
                <div class="blog-title">
                </div>
                <hr>
                <div class="blog-excerpt" style="display: none">
                </div>
                <div class="blog-footer">
                    <img style="height: inherit" src="https://raw.githubusercontent.com/Hayashi-Tensai/Tensais-Corner/master/assets/icon/icon-view-eye.png"/>
                    <span style="font-size: 12px" class="view-count">0</span>
                </div>
            </div>
        </div>
    </a>
</div>

<script>
    //-------------Liquid scripting start-------------//
    {% capture postList %}
    [
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {% for p in site.posts %}
        {
        "title"    : "{{ p.title }}",
        "url"      : "{{ p.url | relative_url }}",
        "image"      : "{{ p.bg_url }}",
        "excerpt"  : "{{ p.excerpt }}",
        "categories"  : "{{ p.categories }}",
        "author"  : "{{ p.author }}",
        "date"  : "{{ p.date | date: date_format }}",
        } {% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
    ]
    {% endcapture %}
    {% capture category %}
        "{{ include.category }}"
    {% endcapture %}
    //-------------Liquid scripting end-------------//
    
    var xBlog_PictGrid = new Object();
    xBlog_PictGrid.postList = {{postList | strip_newlines}};
    xBlog_PictGrid.category = {{category}};
    xBlog_PictGrid.activePostList = [];
    xBlog_PictGrid.arrViewCount = [];
    
    $(document).ready(function () {
        
        for(var i = 0; i < xBlog_PictGrid.postList.length; i++)
        {
            if(xBlog_PictGrid.postList[i].categories.includes(xBlog_PictGrid.category)) {
                var gridBoxClone = $("#gridBoxClone").clone();
                gridBoxClone.attr("id", "gridBox" + i);
                gridBoxClone.css("display", "");
                gridBoxClone.css("background-image", "url(" + xBlog_PictGrid.postList[i].image + ")");
                gridBoxClone.attr("href", xBlog_PictGrid.postList[i].url);
                gridBoxClone.find(".blog-header").html(xBlog_PictGrid.postList[i].author + "<br>" + xBlog_PictGrid.postList[i].date);
                gridBoxClone.find(".blog-title").html(xBlog_PictGrid.postList[i].title);
                gridBoxClone.find(".blog-excerpt").html(xBlog_PictGrid.postList[i].excerpt);

                xBlog_PictGrid.activePostList.push(gridBoxClone);
                
                $(".blog-system").append(gridBoxClone);
            }
        }
        
        $(".blog-system .grid-box").click(function (e) {
            window.open($(this).attr("url"), "_self");
        });
                
        for(var i = 0; i < xBlog_PictGrid.activePostList.length; i++) 
        {
            xBlog_PictGrid.arrViewCount.push(xBlog_PictGrid.GetViewCount(xBlog_PictGrid.activePostList[i].attr("href")));
        }
        
        for(var i = 0; i < xBlog_PictGrid.activePostList.length; i++) 
        {
            xBlog_PictGrid.activePostList[i].find(".view-count").html(xBlog_PictGrid.arrViewCount[i]);
        }
    });
    
    xBlog_PictGrid.GetViewCount = function (url){
        let targetUrl = 'tensaiscorner.com' + url;
        let query = '?url=' + encodeURIComponent(targetUrl);
        let xmlHttp = new XMLHttpRequest();
        xmlHttp.open('GET', 'https://hayashitensai.pythonanywhere.com/nocount' + query, false);
        xmlHttp.send(null);
        count = xmlHttp.responseText;
        
        return count;
    };
    
    
</script>
