<div id="gallery">
</div>

<script>
    var slideIndex = 1;
    var slideInterval = 3;
    var currentSlideInterval = slideInterval;
    
    onStart();
    
    function onStart() {
        showDivs(slideIndex);
        intervalChange();
    }
    
    function intervalChange() {
        currentSlideInterval--;
        if(currentSlideInterval == 0) {
            plusDivs(1);
            currentSlideInterval = slideInterval;
        }
        
        setTimeout(intervalChange, 1000);
    }
    
    function plusDivs(n) {
        showDivs(slideIndex += n);
        currentSlideInterval = slideInterval;
    }
    
    function showDivs(n) {
        //! Reference HTML Template
        //<div id=”gallery”>{% for image in include.images %}
        //    <img class=”mySlides” src="{{ image }}">{% endfor %}
        //    <button onclick="plusDivs(-1)">❮</button>
        //    <button onclick="plusDivs(1)">❯</button>
        //</div>

        document.getElementById("gallery").innerHTML = "{% for image in include.images %}";
        var img = document.createElement("IMG");
        img.innerHTML = "hello";
        img.className = "mySlides";
        img.setAttribute("src", "{{ image }}");
        document.getElementById("gallery").appendChild(img);
        document.getElementById("gallery").innerHTML = document.getElementById("gallery").innerHTML + "{% endfor %}";
        
        var btnLeft = document.createElement("BUTTON");
        btnLeft.innerHTML = "<";
        btnLeft.setAttribute("onclick", "plusDivs(-1)");
        document.getElementById("gallery").appendChild(btnLeft);
        
        var btnRight = document.createElement("BUTTON");
        btnRight.innerHTML = ">";
        btnRight.setAttribute("onclick", "plusDivs(1)");
        document.getElementById("gallery").appendChild(btnRight);
        
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length)
            slideIndex = 1;
        
        if (n < 1)
            slideIndex = x.length
        
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
</script>