/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 3;
  background-color: rgba(233, 194, 242, 0.7);

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.25;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    padding-top: $spacing-unit * 0.5;
    text-decoration: none !important;
    color: black !important;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  padding-top: $spacing-unit * 0.5;
  z-index: 99;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: rgba(233, 194, 242, 0.7);
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    padding-top: 0;
    margin-top: $spacing-unit * 0.5;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
        width: 35vw;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
    
    ul {
        margin-left: 0 !important;
    }
  }
}

.nav-bar {
    list-style: none;
    
    a {
        border-top: solid;
        padding-top: 5px;
        margin-left: 5px;
        color: black;
        text-decoration: none;
    }
    
    a:hover {
        color: #ad19e3;
    }
    
    a.active{
        color: #ad19e3;
    }
    
    li {
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    
     @include media-query($on-palm) {
        a {
            border-top: 0;
            padding-right: 10px;
        }
         
        li {
            border-bottom: solid;
            display: block;
        }
     }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: rgba(233, 194, 242, 0.7);
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
  float: right;
}

//! not used
.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */

.home-naviagtion-hyperlink:hover {
    text-decoration: none;   
}

.home-naviagtion-container{
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    .home-naviagtion-title {
        width: inherit;
        height: inherit;
        text-align: center;
        font-size: 35px;
        color: white;
        padding-top: 55px;
        background-color: rgba(155, 155, 155, 0.3);
    }
    .home-naviagtion-title:hover {
        background-color: rgba(155, 155, 155, 0.0);
    }
}


/**
 * Page content
 */
.page-content {
  padding: 0;
  flex: 1;
  background-color:rgba(255, 255, 255, 0.7);
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.home{
    padding-left: 5px;
    padding-right: 5px;
}

/**
 * Blog System
 */


.blog-system{
    padding: 10px;
    .grid-box{
        margin: 5px;
        width: 230px;
        height: 230px;
        background-position: center;
        background-size: cover;
        float: left;
        .blog-header {
            font-size: 13px;
            line-height: normal;
        }
        
        .grid-box-overlay{
            width: inherit;
            height: inherit;
            background-color: rgba(166, 156, 156, 0.5);
            color: white;
        }

        .grid-box-overlay:hover{
            background-color: rgba(166, 156, 156, 0.2);
            cursor: pointer;
        }
        
        .grid-box-content{
            padding: 10px;
        }
        
        .blog-title{
            padding-top: 100px;
            font-size: 18px;
            line-height: normal;
            height: 50px;
            align-items: flex-end;
            display: flex;
        }
        
        .blog-excerpt{
            font-size: 13px;
            line-height: normal;
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: justify;
        }
        
        .blog-footer {
            height: 20px;
            
            img {
                filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(201deg) brightness(106%) contrast(101%);
            }
        }
        
        hr{
            background-color: white;
            border-color: white;
        }
    }
    
    .grid-box:hover {
        text-decoration: none;
    }
}


/**
 * Game Page
 */

.game-page {
    /*padding: 10px;*/
    
    .page-content {
        background-color: rgba(255, 255, 255, 0);
    }
    
    .page-description-left {
        max-width: calc((#{$content-width} - (#{$spacing-unit}))* 0.47);
        text-align: justify;
        float: left;
        padding-right: 30px;
    }
    
    .page-description-right {
        max-width: calc((#{$content-width} - (#{$spacing-unit}))* 0.47);
        text-align: justify;
        float: left;
    }
    
    button {
        border-radius: 5px;
        font-size: 15px;
        background-color: rgba(0,0,0,0);
    }
    
    button:hover {
        opacity: 50%;
        cursor: pointer;
    }
}

.game-list {
    .game-container{
        width: 230px;
        height: 300px;
        background-color: rgba(233, 194, 242, 0.8);
        border-radius: 10px;
        border-width: 1px;
        float: left;
        margin: 10px;
    }
    
    .game-title {
        font-size: 16px;
    }
    
    .game-image {
        width: 230px;
        height: 130px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .game-year, .game-platform{
        font-size: 13px;
    }
    
    .game-description {
        font-size: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 80px;
        text-align: justify;
    }
    
    button {
        float: right;
        border-radius: 5px;
        border-width: 1px;
        border-color: black;
        font-size: 13px;
        background-color: rgba(0,0,0,0);
        height: 25px;
        width: 60px;
    }
}

